@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding-inline: 0;
}

li {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behaviour: auto !important;
  }
}

/* Variables */
:root {
  font-family:'Inter var', sans-serif;
  /* --size-outline: 3px; // Esto es para cambiar el outline del helper */
}

/* Base */
body {
  
}
/* Layout */

.contenedor-subtitulo{
  display: grid;
  height: 500px;
  background-color: blueviolet;
  background-image: url(https://res.cloudinary.com/dyk5cl3d8/image/upload/v1644342680/web%206to%20semestre/Spandrel_II_2009_acrylic_paint_on_MDF_mvb65s.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contenedor-subtitulo div{
  margin: auto;
  width: 800px;
}
.contenedor-subtitulo h3{
  font-size: 40px;

  text-align: center;
  color:purple;
  /*background-color: brown;*/
}
.contenedor-subtitulo p{
  text-align: center;
  font-weight: bold;
  color:darkslateblue;
}

.contenedor{
margin: 20px 0px 0px 20px
}
.contenedor-fila{
 display: flex;
}

figure {
  position: relative;
  margin: auto;
  width: auto;
}

figcaption {
  display: none;
  color: white;
  padding: 20px;
  position: absolute;
  bottom: 10px;
}
figure:hover figcaption {
  display: block;
}
.boton-descargar{
  align-self: center;
  background: greenyellow;
  color: purple;
  text-align: center;
}
.contenedor-fila img{
width: 280px;
height: auto;
margin: 0px 20px 20px 0px
}
/* Componentes */

/* Utilidades */
.flex {
  display: flex;
}
.grid {
  display: grid;
}
