/* Imports & supports */
/* @import url("https://rsms.me/inter/inter.css");
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
} */
/* Reset & Base */
*,
*::before,
*::after {
  box-sizing: border-box
}
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0
}
body {
  background: #212121;
  line-height: 1.5;
  min-height: 100vh
}
ul {
  margin: 0;
  padding-inline: 0
}
li {
  list-style: none
}
a {
  text-decoration: none
}
img{
  width:400px;
  height: auto;

}
picture {
  max-width: 100%;
  display: block
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important
  }
}
/* Variables */
:root {
  /* colores */
  /*   --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%; */
  /* tipografia */
  --f-family: "Cinzel Decorative", serif;
  --f-family2: "Noto Serif Display", sans-serif;
  --f-size: 24px;
  --f-weight: 400;

}
/* Aplica estas variables a todos los elementos */
* {
  font-family: var(--f-family);
  font-size: var(--f-size);
  font-weight: var(--f-weight)
}
/* Componentes */
/* Utilidades */
.flex {
  display: flex
}
.grid {
  display: grid
}
.contenedor {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin-inline: auto;
  align-items: center;
}
.caja{
  flex:1;
  position: relative;
  border: 2px solid white;
  display: flex;
}
.caja picture{
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
z-index: -1;
}
.contenedor h1{
font-size: 200px;
color: white;
text-align: center;
margin: auto;
}

.texto-arriba{
  text-transform: uppercase;
  font-family: "Noto Serif Display";
  color: #E0DEDE;
  text-align: center;

}
.texto-abajo{
  text-transform: uppercase;
  font-family: "Noto Serif Display";
  color: #E0DEDE;
  text-align: center;

}

